<div class="index-page">
  <div style="text-align: center; padding: 10px">
    <h1>Welcome to the index page</h1>
    <p style="padding-top: 10px">Find me in app/views/welcome/index.html.erb</p>
  </div>

  <%# Comment %>
  <div style="background-color: grey; padding: 10px; color: white">
    <p><%= "Count to 10" %></p> 
    <p><% 11.times do |i| %>
      <%= i %>
    <% end %></p>
  </div> 
</div>
